{%load static%}
<!DOCTYPE html>
<!-- Coding By CodingNepal - www.codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Facebook Login Page | CodingNepal</title>
    <link rel="stylesheet" href="{%static 'style.css'%}">
  </head>
  <body>
    <div class="container flex">
      <div class="facebook-page flex">
        <div class="text">
          <h1>Skillslift</h1>
          <p>Sign up </p>
          <p> and get started</p>
        </div>
        <form method='POST'>
          {%csrf_token%}
          <p>Username:</p>
          {{form.username}}
          <p>Email:</p>
          {{form.email}}
          <p>Password:</p>
          {{form.password1}}
          <p>Confirm password:</p>
          {{form.password2}}
          <div class="link">
            <input type="submit" class="login" value="Sign Up">
            <p class="messages">{{form.errors}}</p>
            <a href="#" class="forgot">Forgot password?</a>
          </div>
          <hr>
          <div class="button">
            <a href="{%url 'signin'%}">Already have an account?</a>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>